<?xml version="1.0" ?>
<model>
  <name>vehicle</name>
  <version>1.0</version>
  <sdf version="1.6">vehicle.sdf</sdf>
  <author>
    <name>Abhijith S</name>
    <email>abhisjith777@gmail.com</email>
  </author>
  <description>
    A custom vehicle model with SDF and URDF compatibility for Gazebo simulation.
  </description>
</model>

